<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/public/css/style.css">
  <title>Login</title>
  <script defer src="/public/js/clientAuth.js"></script>
</head>
<body>
  <div class="loginContainer">
    <div id="login">
      <h1>Login</h1>
        <input id="username" type="text" placeholder="Username" />
        <input id="password" type="password" placeholder="Password" />
        <button onclick="login()">Login</button>
        <p>Don't have an account? <a href="/register">Register</a></p>
        <!-- Inline style to position the logout message below the login form -->
        <div id="logoutMessage" style="display: none; color: red; margin-top: 10px;"></div>
        <!-- Error message container -->
        <div id="errorMessage" style="color: red; margin-top: 10px;"></div>
    </div>
  </div>
  <script>
    function showLogoutMessage() {
      const urlParams = new URLSearchParams(window.location.search);
      const message = urlParams.get('message');
      if (message === 'loggedOut') {
        const messageDiv = document.getElementById('logoutMessage');
        messageDiv.textContent = 'You have been logged out. Please log in again to access the dashboard.';
        messageDiv.style.display = 'block';
      }
    }
    document.addEventListener('DOMContentLoaded', showLogoutMessage);
  </script>
</body>
</html>
