<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style.css">
    <script src="/socket.io/socket.io.js"></script>
    <script defer src="/public/js/navbar.js"></script>
    <script defer src="/public/js/notifications.js"></script>
    <title>Notifications</title>
</head>
<body>
    <nav class="profile-nav">
        <div class="nav-left-buttons">
            <button class="nav-button" onclick="goBack()">Back to Dashboard</button>
            <button class="nav-button" onclick="logout()" id="logout">Logout</button>
            
        </div>
        <div class="nav-right-buttons">
            <button class="nav-button room-action-button" onclick="updateUserProfile()">Update Profile</button>
            <button onclick="goToProfile()"  class="nav-button room-action-button">Your Profile</button>
        </div>
    </nav>
    
    <div class="notifications-container">
        <p class="dashboard-error" id="error"></p>
        <h2>Notifications</h2>
        <div id="status" style="margin: 10px; padding: 10px; background-color: #f0f0f0; border: 1px solid #ccc;">
            <strong>Status:</strong> <span id="status-text">Loading...</span>
        </div>
        <ul id="notifications-list"></ul>
    </div>
    
</body>
</html>