<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="roomTitle"></title>
    <link rel="stylesheet" type="text/css" href="/public/css/style.css">
</head>
<body>
  <nav class="chat-nav">
      <div class="nav-left">
          <button onclick="goBack()" class="nav-button">Back to Dashboard</button>
          <button onclick="logout()" class="nav-button">Logout</button>
      </div>
      <div class="nav-right">
          <button onclick="deleteRoom()" id="deleteRoom" class="nav-button room-action-button">Delete this room</button>
          <button onclick="banUser()" id="banUser" class="nav-button room-action-button">Ban a User</button>
      </div>
  </nav>
  <div id="chat-room" class="chat-room">
        <h2 id="roomName" class="room-name"></h2>
        <h2 id="roomOwner" class="room-owner"></h2>
        <ul id="userList" class="user-list">Fetching Users of this room...</ul>
      <div id="messages-container" class="messages-container">
          <ul id="messages" class="messages"></ul>
      </div>
        <p id="typingIndicator" class="typing-indicator"></p>

      <div class="message-input-container">
        <input id="messageInput" autocomplete="off" class="message-input" placeholder="Type a message" />
        <button onclick="sendMessage()" class="send-button">Send</button>
      </div>

  </div>
  


<script src="/socket.io/socket.io.js"></script>
<script defer src="/public/js/chatrooms.js"></script>
<script>
    const messageInput = document.getElementById('messageInput');

    messageInput.addEventListener('keydown', (event) => {
      if (event.keyCode === 13) {
        sendMessage();
      }
    });

    function goBack(){
      window.location.href = '/dashboard'; // Redirect to the dashboard.html page
    }

    function logout() {
      sessionStorage.removeItem('token');
      sessionStorage.removeItem('userID');
      sessionStorage.removeItem('username');
      window.location.href = '/login?message=loggedOut';
    }

    function checkAuthenticationToEnterRoom() {
        const token = sessionStorage.getItem('token');
        if (!token) {
          window.location.href = '/login?message=loggedOut'; // Redirect with a query parameter
        }
      }

    document.addEventListener('DOMContentLoaded', checkAuthenticationToEnterRoom);
</script>

</body>
</html>
